In [70]:
import pandas as pd
import numpy as np

In [71]:
df = pd.read_csv("/home/josue/Documents/movielens-venv/data/ml-latest-small/movies.csv")

In [ ]:

df[['title', 'year']] = df['title'].str.extract(r'^(.*)\s+\((\d{4})\)$')

df['title'] = df['title'].str.strip()

df['year'] = df['year'].astype('Int64')

In [ ]:
df

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017
9738,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,2017
9739,193585,Flint,Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,2018
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,1991

In [76]:
df['year'].mean()

np.float64(1994.6039308499692)